body{
    background-color: gainsboro;
    font-family: sans-serif;
}

.container{
    border: 1px solid red;
    max-width: 960px;
    margin: auto;
}

.forma{
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding:15px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.unos{
    display: flex;
    flex-direction: column;
}

label{
    font-weight: bold;
    color: #3e3d3d;
}

input[type="text"],
input[tyoe="email"],
select{
    font-size: 1.1rem;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 8px;
}

h1{
    font-size: 1.6rem;
    border-bottom: 2px solid blue;
    max-width: 175px;
    padding-bottom: 10px;
}

input[type="submit"]{
    background-color: green;
    color: white;
    border-radius: 10px;
    border: 0px;
    padding: 8px;
    max-width: 165px;
}