body{
    background-color: #eee;
    font-family: sans-serif;
}

.master{
    background-color: aliceblue;
    display: block;
    border radius: 10px;
    margin: 100px auto;
    width: 300px;
}

h1{
    color: cadetblue;
    padding-top: 20px;
    text-align: center;
}
h2{
    font-size: 1rem;
    font-weight: lighter;
    color: #505050;
    text-align: center;
}

p{
    text-align: center;
    padding-bottom: 30px;
}